div.profile-layout {
  background: @sec;
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: flex-start;

  .header {
    display: flex;
    justify-content: center;
    flex-basis: 60px;
    background: @prim;
    color: @white;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    a.back {
      right: 20px;
      color: @sec;
      opacity: 0.8;
      transition: color 0.2s;
      position: absolute;
      &:hover {
        color: @white;
      }
    }
  }

  .body {
    display: flex;
    justify-content: center;
    .details-wrapper {
      margin: 20px;

      .details {
        display: flex;
        width: 500px;
        justify-content: flex-start;
        background: @sixt;
        padding: 20px;
        border-radius: 10px;
        form {
          align-self: stretch;
          width: 100%;


          button {
            background: @thrd;
            color: @sixt;
            padding: 10px 15px;
            border-radius: 4px;
            border: none;
            font-size: 16px;
            line-height: 18px;
            margin: 5px 0 0 0;
            float: right;
            cursor: pointer;
            transition: color 0.2s;
            &:hover {
              color: @white;
              background: @success;
            }
            &:disabled {
              background: @thrd;
              color: @sixt;
              cursor: not-allowed;
              opacity: 0.7;
              font-size: 16px;
            }
          }
        }
      }
    }

    .avatar-wrapper {
      margin: 20px;

      .avatar {
        display: flex;
        flex-direction: column;
        width: 250px;
        height: 200px;
        justify-content: center;
        align-items: center;
        background: @sixt;
        padding: 20px;
        border-radius: 10px;
        cursor: pointer;
        .title {
          color: @four;
          padding: 2px;
        }
        img {
          height: inherit;
          width: auto;
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }
}