@primary: #FAF8F6;
@sec1: #473229;
@sec2: #6A5750;
@sec3: #8E776B;
@sec4: #B5A397;
@text-primary: #171616;
@text-sec1: #CBC1BB;
@text-sec2: #E4DDD9;
@text-sec3: #342C27;
@text-sec4: #423C37;

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  body {
    height: inherit;
    div#app {
      height: inherit;

      .btn {
        background: @sec4;
        color: @text-sec4;
        padding: 5px 6px;
        border-radius: 4px;
        border: none;
        font-size: 14px;
        margin: 5px;
        float: right;
        cursor: pointer;
        &:hover{
          color: @text-sec2;
          background: @sec2;
        }
      }

      @import "./channelsLayout";
    }
  }
}
