@primary: #373A44;
@prim: #373A44;
@sec: #e4e0dd;
@thrd: #96B8A2;
@four: #95817D;
@fift: #A0676D;
@sixt: #FBFAF9;
@white: #fff;
@black: #000;

@sec1: #473229;
@sec2: #6A5750;
@sec3: #8E776B;
@sec4: #B5A397;
@text-primary: #171616;
@text-sec1: #CBC1BB;
@text-sec2: #E4DDD9;
@text-sec3: #342C27;
@text-sec4: #423C37;


@error: #E10006;
@success: #09B800;

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  body {
    height: inherit;
    div#app {
      height: inherit;

      @import "./shared";

      @import "components/app/channels/channelsLayout";
      @import "components/app/profile/profileLayout";
      @import "components/login/loginLayout";
    }
  }
}
