a {
	color: @text-sec1;
	&:hover {
		color: @text-sec2;
		text-decoration: none;
	}
}

.savingSpinner {
	width: 40px;
	height: 40px;

	position: fixed;
	bottom: 10px;
	left: 100px;
	margin: auto;
	z-index: 99999;

	&.loader {
		position: relative;
		bottom: auto;
		left: auto;
	}

	.circle1, .circle2 {
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background-color: @thrd;
		opacity: 0.6;
		position: absolute;
		top: 0;
		left: 0;

		-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
		animation: sk-bounce 2.0s infinite ease-in-out;
	}

	.circle2 {
		-webkit-animation-delay: -1.0s;
		animation-delay: -1.0s;
	}

	@-webkit-keyframes sk-bounce {
		0%, 100% { -webkit-transform: scale(0.0) }
		50% { -webkit-transform: scale(1.0) }
	}

	@keyframes sk-bounce {
		0%, 100% {
			transform: scale(0.0);
			-webkit-transform: scale(0.0);
		} 50% {
			  transform: scale(1.0);
			  -webkit-transform: scale(1.0);
		  }
	}
}


form {
	.form-group {
		display: flex;
		flex-direction: column;
		label {
			font-size: 15px;
			margin-bottom: 5px;
			padding-left: 12px;
			color: @four;
			&.error {
				color: @error;
			}
			&.success {
				color: @success;
			}
		}
		input, textarea {
			padding: 6px 12px;
			border: 1px solid @four;
			background: @sixt;
			border-radius: 6px;
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2);
			&:read-only {
				background: @sec;
				cursor: not-allowed;
			}
			&:focus {
				background: @white;
			}
			&.error {
				border-color: @error;
			}
			&.success {
				border-color: @success;
			}
		}
		input {
			height: 26px;
		}

		.error-box {
			height: 15px;
			.error-message {
				color: @error;
				text-align: right;
				font-size: 14px;
			}
		}
	}
}



.alert {
	display: block;
	position: fixed;
	bottom: 10px;
	background: @prim;
	padding: 12px 30px;
	border-radius: 6px;

	&.success {
		color: @success;
	}

	&.error {
		color: @error;
	}

	button {
		background: transparent;
		border: 0;
		margin-left: 20px;
		font-size: 16px;
		transition: font-size 0.5s;
		cursor: pointer;
		color: @sec;
	}
}

.clear {
	clear: both;
}